(reverseproxyheaders) {
    header_up X-Real-Ip {remote}
    header_down Strict-Transport-Security maxage=31536000
}

{$APP_DOMAIN} {
    reverse_proxy api:4000 {
        import reverseproxyheaders
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Port 443
    }
}

{$AUTH_SUBDOMAIN}.{$APP_DOMAIN} {
    reverse_proxy keycloak:8080 {
        import reverseproxyheaders
    }
}
