<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses</title>
</head>
<body>
<section layout:fragment="content">
    <div class="col col-lg-6 col-md-8 vstack gap-3">
        <h2 class="my-0">Courses</h2>
        <a th:each="course : ${courses}" th:href="@{/courses/{url}(url=${course.getUrl()})}"
           class="btn btn-outline-primary text-start p-3 hstack gap-2" th:if="${courses?.size() > 0}">
            <span class="d-block text-truncate">[[${course.getName()}]]</span>
            <i th:if="${account.getId() == course.getOwner().getId()}" class="fa-solid fa-crown" title="Owner"></i>
        </a>
        <a href="/courses/create" class="btn btn-primary text-start p-3" sec:authorize="hasRole('TEACHER')">
            <i class="fa-solid fa-plus"></i>
            Create course
        </a>
        <form method="post" th:action="@{/courses/join}" class="hstack gap-2">
            <input name="key"
                   class="form-control form-control-lg"
                   placeholder="Enter course key"
                   aria-label="Enter course key">
            <button type="submit" class="btn btn-success px-5 py-2 fw-bold hstack gap-2">
                <i class="fa-solid fa-key"></i>
                Join
            </button>
        </form>
    </div>
</section>
</body>
</html>